.trends_container{
    margin: auto;
    background-color: white;
    margin-top: 1rem;
    width:60%;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.trends_card_container{
    display: flex;
    gap: 1.5em;
}
.trends_font{
    font-size: 1.2rem;
    margin: 1rem 0;
}
.suggestions{
    display: flex;
    flex-direction: column;
    margin:0.4rem 0;
    cursor: pointer;
}