.card_container{
    width: 10rem;
    cursor: pointer;
}
.card_image{
border-radius: 5px;
width: 8rem;
height: 11rem;
background-size: cover;
}
.card_name{
    padding-top: 1rem
}
.card_name:hover{
    color: gray;
 
}

